@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900');
@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
$red: #e74c3c;

*, 
*:before, 
*:after {
   @include box-sizing(border-box); 
  
}
body{
  width:100%;
  margin:auto;
  min-width:600px;
  max-width:2000px;
  font: 20px Heltavica, sans-serif;
}
.navbar.shrink{
  padding-top:5px;
  padding-bottom:5px;
  transition: all 0.2s ease;
}

.navbar{
  font-family: 'cinzel decorative';
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-right: 0;
  font-size: 17px;
  letter-spacing: 3px;
  background-color:#e5e5e5;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   transition: all 0.2s ease;
}


.navbar-2 {
  font-family: 'cinzel decorative';
  font-size: 17px;
  padding-top: 20px;
  padding-bottom:20px;
  border: 0;
  border-radius: 0;
  margin-right: 0;
  font-size: 15px;
  letter-spacing: 3px;
  background-color:#e5e5e5;
  color:#437ca8;
  box-shadow: 2px 0px 16px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.container-fluid {
   padding-right: 70px;
   padding-left: 70px;
}


.navbar-nav li a:hover {
  color:#e25822 !important;
  transition:all 0.2s;
  transition-timing-function: linear;
}

.navbar.navbar-default.navbar-fixed-top li a {
  color:#437ca8;
  transition:all 0.2s;
  transition-timing-function: ease-in-out;
}

.navbar-default .navbar-brand {
  font-size:23px;
  font-family: 'cinzel decorative';
  color: #437ca8;
  transition:all 0.2s;
  transition-timing-function: ease-in-out;
}

.navbar-default .navbar-brand:hover {
  color:#e25822 !important;
}


.margin1 {
  margin-top: 125px; 
}
.padding1{
	padding-top:25px;
}
.margin {
  margin-top: 40px;
}


.bcc-1 {
  background: #437ca8;
  color:#fff;
  font-family:roboto, sans-serif;
  font-family1:the girl next door, crusive;
}

.imgcl {
  width:350px;
  height:350px;
  transition:box-shadow 0.4s;
  transition-timing-function: ease-in-out;
}

.box-shad:hover {
  border-radius:50%;
  box-shadow: 0px 0px 15px 7.5px rgba(0,0,0,0.3);
  transition:box-shadow 0.4s;
  transition-timing-function: ease-in-out;
}

.devks{
  font-family: 'cinzel decorative', regular;
}

.imgcl1 {
  width:310px;
  height:310px;

}
.imgcl-2 {
	border-radius:10%;
	border:none;
	box-shadow: 0px 0px 15px 7.5px rgba(0,0,0,0.1);
	transition: 0.2s ease;
}
.imgcl-2:hover {
	box-shadow: 0px 0px 15px 7.5px rgba(0,0,0,0.3);
	transition: 0.2s ease;
}

.bcc-2 {
  background-color:#244863;
  background1: #466368;
  background1: linear-gradient(to right, #a1d3b0, #f6f1d3);
  color:#648880;
  padding: 20px;
  padding-bottom:30px;
  font-family:roboto, sans-serif;
  box-shadow:inset 0px 22px 16px -20px rgba(0, 0, 0, 0.2),
             inset 0px -22px 16px -20px rgba(0, 0, 0, 0.2) ;

}
.navbar-header.navbar-brand.navbar-nav a {
  color:red;

}
.blclass{
  color:#e8e8e8;

}
.bcc-3{
  background: #466368;
  background: linear-gradient(to right, #a1d3b0, #f6f1d3);
  color:#648880;
  padding: 20px;
  font-family:roboto, sans-serif;
}


.bcc-4 {
  background-color:#244863;
  background1: #466368;
  background1: linear-gradient(to right, #a1d3b0, #f6f1d3);
  color:#648880;
  padding-top: 50px;
  padding-bottom:65px;
  text-align:center;
  box-shadow:inset 0px 22px 16px -20px rgba(0, 0, 0, 0.2),
             inset 0px -22px 16px -20px rgba(0, 0, 0, 0.2) ;
}
.h2-c{
  color:#4c6862;
}
.margin-2 {
  margin-bottom: 59px;
  margin-top: 59px;
}
.margin-3 {
  margin-top:30px;
  margin-bottom:-12px;
}
.margin-4 {
  margin-bottom:50px;
}




/* Contact Me */




form {
  max-width: 600px;
  text-align:center;
  margin: 20px auto;
}
  input, textarea {
    border:0; outline:0;
    padding: 1em;
    border-radius:10px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
    box-shadow:0 1px 1px rgba(black, 0.1);
    resize: none;
    transition:box-shadow 0.3s;
    transition-timing-function: ease-in-out;
	}
  
  #input-submit {
    color: $red; 
    background: #e74c3c;
    cursor: pointer;
}
   
  textarea {
    height: 237px;
    
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 2em;
}

.right {
  width: 50%; 
    }

.left {
   margin-right: 2%; 
}
.hover {
	box-shadow:0 0px 10px rgba(#e74c3c, 1)!important;
}


.h4-text {
  color:#437ca8;
}
h2 {
  font-family:roboto, sans-serif
}
.submitc {
  background-color:$red;
  color:#fff
}
.li-relative {
  position:relative;
  right:10px;
  top:9px;
}



//LOGOS




.margin-r {
  margin-right:50px;
}
.mini-img {
  width: 35px;
  animation: bounceIn 0.6s;
  transform: rotate(0deg) scale(1) translateZ(0);
  transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
  cursor: pointer;
}

.mini-img:hover {
  transform: rotate(10deg) scale(1.1);
}
@keyframes bounceIn {
  0% {
    opacity: 1;
    transform: scale(.3);
  } 

  50% {
    opacity: 1;
    transform: scale(1.05);
  } 

  70% {
    opacity: 1;
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
